@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width:998px){
    body{
        background-image: linear-gradient(to top, var(--cor2), var(--cor1), var(--cor3));
    }
    section#login{
        width: 77vw;
        height: 335px;
        border-radius: 25px;
    }
    section#login > div#img{
        background-size: cover;
        float: left;
        width: 30%;
        height: 106.5%;
    }
    section#login > div#form{
        float: right;
        width: 70%;
        height: 100%;
    }
    h1{
        font-size: 1.9em ;
        margin: 7px;
    }
    p{
        font-size: 1.2em;
    }
    input{
        width: calc(100% - 11%);
    }
    button, a{
        border-radius: 10px;
    }
}

@media screen and (min-width: 999px){
    body{
        background-image: linear-gradient(to top, var(--cor2), var(--cor1), var(--cor3));
    }
    section#login{
        width: 850px;
        height: 400px;
        border-radius: 25px;
    }
    section#login > div#img{
        float: right;
        width: 50%;
        height: 105.5%;
    }
    section#login > div#form{
        float: left;
        width: 50%;
        height: 150%;
    }
    h1{
        font-size: 2.2em;
        margin: 8px;
    }
    p{
        font-size: 1.3em;
    }
    div#name, div#key{
        height: 55px;
    }
    input{
        transform: translateY(-15%);
        width: calc(100% - 11%);
    }
    button, a{
        height: 2.5em;
        font-size: 1.1em;
        border-radius: 10px;
    }
    div#name i, div#key i{
        margin-top: 6px;
    }
}